<div class="w-[240px] h-full bg-[#1E1F22] flex-shrink-0 flex flex-col p-4 overflow-y-auto scrollbar-thin border-l border-[#26272d]">
  
  <h2 class="text-[11px] font-bold uppercase tracking-wide text-[#949ba4] mb-3">
    Miembros — {{ members.length }}
  </h2>

  @for (member of members; track member.id) {
    
    <div class="relative mb-0.5">
      
      <div (click)="toggleProfile(member, $event)" 
           class="flex items-center gap-3 px-2 py-1.5 hover:bg-[#35373c] rounded-md cursor-pointer transition-colors group"
           [ngClass]="{'bg-[#35373c]': selectedMember === member}">
        
        <div class="relative">
          <div class="w-8 h-8 rounded-full bg-[#5865f2] flex items-center justify-center overflow-hidden">
            @if (member.imageUrl) {
              <img [src]="member.imageUrl" alt="Avatar" class="w-full h-full object-cover">
            } @else {
              <span class="text-white text-sm font-bold">{{ member.username?.charAt(0) | uppercase }}</span>
            }
          </div>
          <div class="absolute -bottom-0.5 -right-0.5 w-3.5 h-3.5 border-[2px] border-[#2b2d31] group-hover:border-[#35373c] rounded-full transition-colors"
               [ngClass]="getStatusColor(member.status)"></div>
        </div>
        
        <div class="flex flex-col min-w-0">
          <span class="text-[#dbdee1] text-sm font-medium truncate group-hover:text-white"
                [ngClass]="{'text-white': selectedMember === member}">
            {{ member.username }}
          </span>
        </div>

      </div>

      @if (selectedMember === member) {
        <app-member-profile-pop-up
        [member]="member" (close)="closeProfile()" 
        [topPosition]="popupTop">
        </app-member-profile-pop-up>
      }

    </div>
  }
</div>