<div class="w-[310px] h-full bg-[#121213] flex flex-col border-l border-[#313338] rounded-l-2xl">
  
  <div class="h-[48px] px-2.5 flex items-center shadow-sm border-b border-[#1e1f22]">
    <button class="w-full h-8 bg-[#1e1f22] text-[#949ba4] text-xs rounded-lg text-center px-2 hover:bg-[#111214] transition-colors">
      Buscar o iniciar una conversación
    </button>
  </div>

  <div class="flex-1 overflow-y-auto [&::-webkit-scrollbar]:hidden [-ms-overflow-style:none] [scrollbar-width:none] pt-2 pb-[60px]">
    
    <div class="px-2 space-y-[2px] pb-2">
        <button class="w-full h-10 flex items-center px-3 py-2.5 text-[#dbdee1] bg-[#33353b] rounded-xl group cursor-pointer">
          <div class="w-8 h-8 mr-3 flex items-center justify-center">
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2C9.79 2 8 3.79 8 6s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
              </svg>
          </div>
          <span class="font-medium text-[15px]">Amigos</span>
      </button>

      <button class="w-full h-10 flex items-center px-3 py-2.5 text-[#949ba4] bg-transparent rounded-xl hover:bg-[#33353b] hover:text-[#dbdee1] transition-colors group cursor-pointer">
          <div class="w-8 h-8 mr-3 flex items-center justify-center">
              <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
              </svg>
          </div>
          <span class="font-medium text-[15px]">Solicitudes de mensajes</span>
      </button>
    </div>

    <hr class="m-2 border-[#313338]">

    <div class="pt-2 px-4 pb-1 flex items-center justify-between group cursor-pointer text-[#949ba4] transition-colors">
      <span class="text-xs font-bold hover:text-[#dbdee1]">MENSAJES DIRECTOS</span>
      <button class="hover:text-[#dbdee1]" title="Crear DM"
      (click)="openCreateDMModal()"
      >
        <svg class="w-4 h-4" fill="currentColor" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
        </svg>
      </button>
    </div>

  <div class="px-2 mt-1 space-y-[2px]">
        
        @for (conv of conversations; track conv.id) {
          
          <div (click)="selectConversation(conv)" 
               class="w-full flex items-center px-2 py-1.5 text-[#949ba4] rounded hover:bg-[#35373c] hover:text-[#dbdee1] cursor-pointer group transition-colors ">
            
            <div class="w-8 h-8 rounded-full bg-indigo-500 mr-3 flex-shrink-0 relative flex items-center justify-center text-white font-bold text-lg">
              {{ conv.otherUserName ? conv.otherUserName.charAt(0).toUpperCase() : '?' }}
              <div class="absolute bottom-0 right-0 w-3 h-3 bg-green-500 rounded-full border-2 border-[#2b2d31]"></div>
            </div>
            
            <div class="flex-1 overflow-hidden text-left">
              <div class="truncate text-[15px] font-medium leading-5">
                {{ conv.otherUserName || 'Usuario' }}
              </div>
            </div>

            <button class="hidden group-hover:flex w-4 h-4 ml-2 text-[#949ba4] hover:text-[#dbdee1] items-center justify-center transition-colors"
                    (click)="removeConversation($event, conv)"
                    title="Cerrar MD">
              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
              </svg>
            </button>

          </div>
          
        } @empty {
          <div class="px-2 py-4 text-center text-[#949ba4] text-xs">
            Aún no tienes mensajes directos.
          </div>
        }

    </div>
</div>

@if (modalService.showCreateDm$ | async) {
  <app-create-dm-modal></app-create-dm-modal>
}