<div class="flex h-full w-full bg-[#1E1F22] text-white">
  
  <app-dm-sidebar></app-dm-sidebar>

  @if (currentView === 'FRIENDS') {
    <div class="flex-1 flex flex-col min-w-0">
      
      <div class="h-[48px] px-4 flex items-center shadow-sm border-b border-[#313338]">
        <div class="flex items-center space-x-4">
          <svg class="w-6 h-6 text-[#80848e]" fill="currentColor" viewBox="0 0 24 24"><path d="M12 2C9.79 2 8 3.79 8 6s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 10c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></svg>
          <span class="font-bold text-[15px] text-white">Amigos</span>
          
          <div class="w-[1px] h-6 bg-[#3f4147]"></div>
          
          <button (click)="setTab('ONLINE')" 
          [ngClass]="activeTab === 'ONLINE' ? 'bg-[#404249] text-white' : 'hover:bg-[#3f4147] text-[#b5bac1]'"
          class="px-2 py-1 rounded font-medium text-[15px] cursor-pointer transition-colors">
          En línea</button>

          <button (click)="setTab('ALL')"
          [ngClass]="activeTab === 'ALL' ? 'bg-[#404249] text-white' : 'hover:bg-[#3f4147] text-[#b5bac1]'"
          class="px-2 py-1 rounded font-medium text-[15px] transition-colors cursor-pointer">
          Todos</button>

          <button (click)="setTab('PENDING')"
          [ngClass]="activeTab === 'PENDING' ? 'bg-[#404249] text-white' : 'hover:bg-[#3f4147] text-[#b5bac1]'"
          class="px-2 py-1 rounded font-medium text-[15px] transition-colors cursor-pointer">
          Pendientes</button>

          <button (click)="setTab('ADD')"
          [ngClass]="activeTab === 'ADD' ? 'text-green-500 bg-transparent' : 'bg-[#248046] hover:bg-[#1a6334] text-white'"
          class="px-2 py-1 rounded font-medium text-[15px] transition-colors cursor-pointer">
          Añadir amigo</button>
        </div>
      </div>

      @switch (activeTab) {
        @case ('ONLINE') {
          <app-friends-online class="flex-1 overflow-hidden flex flex-col"></app-friends-online>
        }
        @case ('ALL') {
          <app-friends-all 
          (onOpenChat)="openChat($event)"
          class="flex-1 overflow-hidden flex flex-col"></app-friends-all>
        }
        @case ('PENDING') {
          <app-friends-pending class="flex-1 overflow-hidden flex flex-col"></app-friends-pending>
        }
        @case ('ADD') {
          <app-friend-add class="flex-1 overflow-hidden flex flex-col"></app-friend-add>
        }
      }

    </div>
  }

  @if (currentView === 'CHAT') {
  <app-chat-room 
    [conversationId]="activeConversationId!" 
    [friendName]="activeFriendName"
    (onClose)="openFriendsList()"
    class="flex-1 flex flex-col min-w-0 bg-[#313338]">
  </app-chat-room>
}


</div>